<!-- Header -->

<header
  class="
    d-lg-flex
    align-items-lg-center
    justify-content-lg-center
    pt-lg-3
    p-lg-auto
  "
>
  <div class="flex-fill w-auto text-decoration-none my-2">
    <nav class="navbar navbar-expand-lg">
      <ul
        class="
          nav
          flex-fill
          d-flex
          align-items-lg-center
          justify-content-lg-center
          my-2
        "
      >
        <li
          class="
            nav-item
            flex-fill
            align-items-lg-center
            justify-content-lg-center
          "
        >
          <a href="" class="nav-link px-auto">Réalisations</a>
        </li>
        <li
          class="
            nav-item
            flex-fill
            align-items-lg-center
            justify-content-lg-center
          "
        >
          <a class="nav-link px-auto">A propos</a>
        </li>
        <li
          class="
            nav-item
            flex-fill
            align-items-lg-center
            justify-content-lg-center
          "
        >
          <a class="nav-link px-auto">Contactez-moi</a>
        </li>
      </ul>
    </nav>
  </div>
  <a
    class="flex-fill w-auto text-decoration-none my-2"
    routerLink="/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <h1 class="fs-1 w-auto d-1">Bernard Rogier</h1>
  </a>
  <div class="flex-fill d-flex align-items-center justify-content-center my-2">
    <div class="icon">
      <a href="" class="nav-link flex-fill">
        <i class="bi bi-facebook"></i>
      </a>
    </div>
    <div class="icon">
      <a href="" class="nav-link flex-fill">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
    <div class="icon">
      <a href="" class="nav-link flex-fill">
        <i class="bi bi-twitter"></i>
      </a>
    </div>
    <div class="icon">
      <a href="" class="nav-link flex-fill">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <div class="icon">
      <a href="" class="nav-link flex-fill">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <div class="icon">
      <a href="" class="nav-link flex-fill">
        <i class="bi bi-wordpress"></i>
      </a>
    </div>
  </div>
</header>
