<!-- Container -->
<div class="box-container container-fluid p-5">
  <div>
    <!-- Zone Text Infos -->
    <div class="text-center my-auto">
      <h1 class="landing-title-h1 my-auto">{{ title }}</h1>
      <h2 class="landing-title-h2 my-auto mb-5">{{ subTitle }}</h2>
      <div class="landing-text wordCarousel my-auto">
        <span class="mx-auto px-auto"> {{ description }} </span>
        <div class="mb-auto">
          <!-- Use classes 2,3,4, or 5 to match the number of words -->
          <ul class="flip5">
            <li>d'un site</li>
            <li>d'un plugin</li>
            <li>d'un thème</li>
            <li>d'un blog</li>
            <li>d'une intégration web</li>
          </ul>
        </div>
      </div>
      <!-- Images -->
      <div id="images-id" class="img-round img-fluid mx-auto px-auto"></div>
    </div>
  </div>
</div>
